@import "../globals";

// Color Palette

$black: #33332D;
$white: #FFF8E3;
$trinidad: #DB4105;
$rockblue: #9FB4CC;

// Project Colors

$color-primary: $black;
$color-base: $white;
$color-highlight: $trinidad;
$color-info: $rockblue;